<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome!</h1>
        <form method="Post" action="login">
            <table>
                <tr>
                    <input type="text" placeholder="Id" id="id"/>
                </tr>
                <tr>
                    <input type="text" placeholder="Password" id="password"/>
                </tr>
                <tr>
                    <input type="submit" title="log in"/>
                </tr>
            </table>
        </form>
</body>
</html>